* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.hidden {
  display: none;
}

#weather {
  display: grid;
  margin: 5px;
  height: 5vh;
  justify-content: right; 
  color: aliceblue;
}

#clock {
  display: grid;
  height: 50vh;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: aliceblue;
}

#login {
  display: grid;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

#todo {
  display: grid;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

#quote {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  color: aliceblue;
}