* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
}

html {
  height: 100%;
}

.hidden {
  display: none;
}

#weather {
  display: grid;
  margin: 5px;
  height: 5vh;
  justify-content: right; 
  color: aliceblue;
}

#clock {
  display: grid;
  height: 50vh;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: aliceblue;
}

#login {
  display: grid;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

#todo {
  display: grid;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

#quote span:first-child{
  position: fixed;
  top: 93%;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

#quote span:last-child{
  position: fixed;
  top: 95%;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

#login-form input:first-child{
  width:560px;
  height:50px;
  border-radius:8px;
  font-size: 20px;
  color: #fff;
  background-color:hsla(0,0%,100%,.5);
}

#login-form input:last-child{
  display: none;
}